<%= javascript_include_tag "http://localhost:8080/application.js" %>

<!DOCTYPE html>
<html>
<head>
  <meta name="charset" content="utf-8">
  <title>Poker</title>
  <script src="application.js" type="text/javascript" charset="utf-8"></script>
  
  <style type="text/css" media="screen">
    h1 {
      margin: 1em 0;
    }
    
    .log {
      padding: 5px;
      background: #CCC;
      height: 500px;
      width: 400px;
    }
  </style>
</head>
<body>

  <h1>Poker, lala!</h1>
  
  <textarea id="tableLog" class="log" readonly></textarea>
  <textarea id="playerLog" class="log" readonly></textarea>
  
  <script type="text/javascript" charset="utf-8">
    var logElement = document.getElementById("tableLog");
    logElement.value = "";
    var tableLog = function(data){
      logElement.value += (data + "\n");
    };
    
    var channelJug = new Juggernaut;
    
   channelJug.on("connect", function(){ tableLog("Connected to table") });
   channelJug.on("disconnect", function(){ tableLog("Disconnected") });
   channelJug.on("reconnect", function(){ tableLog("Reconnecting") });
    
    tableLog("Subscribed to table <%= @table.id %> channel");
    
   channelJug.subscribe("<%= @table.id %>", function(data){
      tableLog("Got data: " + data);
      console.log(data);
      console.log("table data ^");
    });

    var playerId = <%= current_player.id %>

    var playerLogElement = document.getElementById("playerLog");
    playerLogElement.value = "";
    var playerLog = function(data){
      playerLogElement.value += (data + "\n");
    };

    var playerJug = new Juggernaut;
    
    playerJug.on("connect", function(){ playerLog("Connected to player channel") });
    playerJug.on("disconnect", function(){ playerLog("Disconnected 2") });
    playerJug.on("reconnect", function(){ playerLog("Reconnecting 2") });
    
    playerLog("Subscribing to player channel <%= @table.id %>/<%= current_player.id %>");
    
    playerJug.subscribe("<%= @table.id %>/<%= current_player.id %>", function(data){
      playerLog("Got data: " + data);
    });
    

  </script>

  <script type="text/javascript">
    function fold() {
      
      var request = $.ajax({
        url: "/fold",
        type: "POST",
        data: {id : playerId},
        dataType: "text"
      });      
    }
    function check() {
      
      var request = $.ajax({
        url: "/check",
        type: "POST",
        data: {id : playerId},
        dataType: "text"
      });      
    }
    function raise() {
      
      var request = $.ajax({
        url: "/raise",
        type: "POST",
        data: {id : playerId, amount : 100},
        dataType: "text"
      });      
    }
    function deal(){
      var request = $.ajax({
        url: "/deal",
        type: "GET",
        data: {id : <%= @table.id %>}
      });
    }
  </script>

  <%= link_to_function "Fold", "fold()" %>  
  <%= link_to_function "Check", "check()" %>
  <%= link_to_function "Raise", "raise()" %>
  <%= link_to_function "Deal", "deal()" %>

</body>


</html>
